<?xml version="1.0"?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Units;Units/Battle Map;Units/Deathmatch Map;Units/Conquest;Mods;AI;Core;Editors;Effects;Effects/Battle Map;Effects/Deathmatch Map;Props;Props/Battle Map;Props/Deathmatch Map;Effects/Sorcerer Street;Effects/Triple Thunder;Scripts;External;Magic;Timelines" />
      <requestedExecutionLevel level="requireAdministrator" uiAccess="false" />
    </assemblyBinding>
  </runtime>
</configuration>
