<?xml version="1.0"?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Units;Units/Battle Map;Units/Deathmatch Map;Units/Conquest;Mods;Core;Editors;Editors/Core;Editors/Deathmatch;Editors/Deathmatch/Units;Editors/Conquest;Editors/Triple Thunder;Editors Extensions;Effects;Effects/Battle Map;Effects/Sorcerer Street;Scripts;External;Magic;Timelines" />
    </assemblyBinding>
  </runtime>
</configuration>
